### sqlite3 Demo

#### Definitions

In [1]:
import sqlite3

studentTableName =	'Students'

sqlFields = 'name TEXT, student_id TEXT, gpa REAL'
sqlFieldNames = 'name, student_id, gpa'

students = (('Bob', 		'G123456789',	'3.02'),
			('Alice',	'G234567890',	'2.93'),
			('Perry',	'G345678901',	'3.95'),
			('Charlie',	'G456789012',	'1.25'))

#### Connect To Database

In [2]:
conn = sqlite3.connect(':memory:')	
crsr = conn.cursor()

#### Create SQL Table

In [3]:
sqlStr = f'CREATE TABLE {studentTableName} ({sqlFields})'
crsr.execute(sqlStr)

#### Insert Data

In [12]:
for student in students:
	sqlStr = f'INSERT INTO {studentTableName} ' \
				f'({sqlFieldNames}) ' \
				f"VALUES ('{student[0]}', '{student[1]}', '{student[2]}')"
	crsr.execute(sqlStr)

#### Select All Students

In [13]:
sqlStr = f'SELECT * FROM {studentTableName}'
crsr.execute(sqlStr)
selectedStudents = crsr.fetchall()
for student in selectedStudents:
    print(student)

('Bob', 'G123456789', 3.02)
('Alice', 'G234567890', 2.93)
('Perry', 'G345678901', 3.95)
('Charlie', 'G456789012', 1.25)

#### Select Students With GPA >= 3.0

In [15]:
sqlStr = f'SELECT * FROM {studentTableName} WHERE gpa >= 3'
crsr.execute(sqlStr)
selectedStudents = crsr.fetchall()
for student in selectedStudents:
    print(student)

('Bob', 'G123456789', 3.02)
('Perry', 'G345678901', 3.95)